body {
  margin-top: 56px;
}

#AppBack {
  /* padding: 25vh 5vw 75vh 5vw; */
  background: url("https://static.pexels.com/photos/616401/pexels-photo-616401.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.SignupPage{
  padding: 10vh 7vw 50vh 7vw;
  background: url("https://static.pexels.com/photos/616401/pexels-photo-616401.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.ResultsPage{
   padding: 15vh 7vw 50vh 7vw;
  background: url("https://static.pexels.com/photos/616401/pexels-photo-616401.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.HomePage{
    padding: 25vh 5vw 75vh 5vw;
    background: url("https://static.pexels.com/photos/616401/pexels-photo-616401.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.ThankYouPage{
  padding: 25vh 5vw 75vh 5vw;
  background: url("https://static.pexels.com/photos/616401/pexels-photo-616401.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#thankyou-container{
  text-align: center;
}

#aboutus-container{
  text-align: center;
  background: #32AA46;
  width: 60%;
}

#searchCont{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.CustomerProfilePage{
  padding: 10vh 7vw 50vh 7vw;
  background: url("https://static.pexels.com/photos/616401/pexels-photo-616401.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
