header {
  margin-bottom: 4em;
}

html {
  background: url("https://static.pexels.com/photos/616401/pexels-photo-616401.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container-1 {
  margin-top: 25%;
  width: 85%;
}
